* {
  margin: 0;
  padding: 0;
}

.calculator,
.screen,
.btn-holder {
  border: 1px solid #333;
  width: 350px;
}

.calculator {
  max-width: fit-content;
  max-height: fit-content;
  height: 600px;
  border-radius: 30px;
  margin: 2% auto 0 auto;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  background-color: rgba(39, 36, 36, 0.849);
}

.screen {
  height: 100px;
  margin-bottom: 50px;
  max-height: 100px;
  max-width: 350px;
  background-color: #333333c6;
  font-size: 2.5rem;
  color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.btn-holder {
  height: fit-content;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-container {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 30px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: space-evenly;
  row-gap: 20px;
  column-gap: 20px;
}

.btn {
  color: #333;
  cursor: pointer;
}

.btn-container .btn {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  text-align: center;
}

.btn-clear {
  font-weight: 600;
}

.btn-point {
  font-weight: 800;
}
/* @media (max-width: 500px) {
  .calculator {
    width: 80%;
    height: auto;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .screen {
    font-size: 1.5rem;
    height: 80px;
    max-height: 80px;
    max-width: 100%;
  }
  .btn-holder {
    width: 100%;
    height: auto;
  }

  .btn-container {
    row-gap: 15px;
    column-gap: 10px;
    width: 100%;
    max-width: 100%;
  }
  .btn-container .btn {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }
} */
