* {
  margin: 0;
  padding: 0;
}

.calculator,
.screen,
.btn-holder {
  border: 1px solid #333;
  width: 350px;
}

.calculator {
  max-width: 350px;
  max-height: 600px;
  height: 600px;
  /* width: 350px; */
  border-radius: 30px;
  margin: 2% auto 0 auto;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  background-color: rgba(39, 36, 36, 0.849);
}

.screen {
  height: 100px;
  margin-bottom: 50px;
  /* width: 350px; */
  max-height: 100px;
  max-width: 350px;
  background-color: #333333c6;
  font-size: 2.5rem;
  /* padding: 10px; */
  color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.btn-holder {
  height: 450px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-container {
  margin-top: 15px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 30px;
  padding-left: 16px;
}

.btn {
  color: #333;
  cursor: pointer;
}

.btn-container .btn {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  /* max-width: 40px;
  max-height: 40px; */
  text-align: center;
}

.btn-clear {
  font-weight: 600;
}

.btn-point {
  font-weight: 800;
}
